body {
    background-color: gray;
    text-align: center;
    font-family: Consolas, 'Courier New', monospace;
}

h1 {

}

h3 {
    
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: red;
}

a:visited {
    text-decoration: none;
}

/* Classes */
.banner {
    border: 2px solid white;
    margin: 1em;
}

.show{
    color: white;
    text-decoration: underline;
}

.show:hover{   
    color: white;
    text-decoration: underline;
}

.show:active {
    text-decoration: underline;
    color: red;
}

/* ID's */
#input {
    border: 2px solid black;
    margin: 1em;
}

#display {
    border: 2px solid black;
    margin: 1em;
}

#display p {
    padding: 3em;
}

#about {
    border: 2px solid black;
    margin: 1em;
}

#about p{
    padding-left: 7em;
    padding-right: 7em;
}

#manualForm {
    position: relative;
}

#inputValue{
    margin-top: 5em;
}

#noWords {
    
}

#zeroButton {
    position: absolute;
    width: 3em;
    height: 3em;
    left: 42%;
}

#oneButton {
    position: absolute;
    width: 3em;
    height: 3em;
    right: 42%;
}

#errorMessage{
    color:red;
}